@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Dana';
    overflow-wrap: break-word;
  }
}
:root {
  --primary: #252c73;
  --primary-50: #e4e5ee;
  --primary-100: #bbbed6;
  --primary-200: #8f94ba;
  --primary-300: #666c9f;
  --primary-400: #484e8d;
  --primary-500: #2a327b;
  --primary-600: #252c73;
  --primary-700: #1d2368;
  --primary-800: #151a5c;
  --primary-900: #070a47;
  --primary-950: #030420;


  --special-1: #2458DE;

  --bg: url('');
  --footer-bg: url('../images/footer-background.jpg');
  --default-bg: url('../images/default-background.jpg');
  --tourList-bg: url('../images/tour-list-background.jpg');
  --visaList-bg: url('../images/visa-list-background.jpg');
  --articleList-bg: url('../images/article-list-background.jpg');
  --contact-bg: url('../images/contact-background.jpg');
  --tourCategory-bg: url('../images/tour-category-pc.jpg');
  --parallax-bg: url('../images/parallax-image.jpg');
}

@font-face {
  font-display: swap;
  font-family: 'Dana';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Dana-Regular.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Dana';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Dana-Medium.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Dana';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Dana-Bold.ttf') format('truetype');
}
